body {
    font-family: "Average", serif;
    color: #747373;
}

h1 {
    font-family: "Playfair Display SC", serif;
    color: white;
    font-size: 2rem;
    font-variant: small-caps;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display SC", serif;
    color: #212529;
    font-variant: small-caps;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.8rem;
}

.header {
    background: url(../img/bird-of-paradise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center;
}

.jumbotron {
    background-color: #ffffff;
}

.footer {
    font-size: 12px;
}